/* CartWidget.css */
.cart-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.cart-icon {
    font-size: 2rem; /* Agranda el icono */
    color: white;
}
.cart-count{
    color: #fff;
}