/* Estilos generales del cart widget */
.cart-widget {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-image {
    width: 44px;
    height: 44px;
    object-fit: contain; /* Asegura que la imagen se ajuste sin ser recortada */
    margin-right: 8px; /* Espacio entre la imagen y el contador */
}

.cart-count {
    background-color: #00aaff;
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}
