.cart-count {
    color: #fff;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .cart-widget {
        justify-content: space-between;
        padding: 5px;
    }

    .cart-icon {
        font-size: 1.5rem;
    }
}
