/* ItemListContainer.css */
.item-list-container {
    padding: 20px;
    text-align: center;
}

.item-list-container h1 {
    font-size: 2rem; /* Tamaño de la fuente */
    color: #333; /* Color de la fuente */
}
