.item-list-container {
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.item-list-container h1 {
    font-size: 2rem;
    color: #30546E;
}

.font {
    font-family: 'Noto Serif';
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .item-list-container h1 {
        font-size: 1.5rem;
    }

    .item-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}
