/* NavBar.css */
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #b7c87a; /* Fondo de la barra de navegación */
    border-bottom: 1px solid #ddd; /* Línea inferior */
}

.navbar-brand {
    font-size: 1.5rem; /* Tamaño de la fuente de la marca */
    font-weight: bold;
    margin-right: auto; /* Empuja el menú y el carrito hacia la derecha */
    color: #49492a
}

.menu-button {
    margin-right: 20px; /* Espacio entre el botón del menú y el carrito */
}
